{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="col d-flex justify-content-center">
<div class="card p-3 mt-3">
    <div class="card-body">

      <h4 class="card-title">Upload Mediainfo JSON</h5>    

        <hr />

        <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form-group row mt-3">
            <label for="storage_number" class="col-6 col-form-label">Storage label:</label>
            <div class="col-6">
             {{ form.storage_number(class_="form-control") }}
            </div>
        </div>

        <div class="mt-3">{{ form.input_file(class_="form-control") }}</div>

        <div class="mt-3">{{ form.submit(class_="btn btn-primary btn-block") }}</div>

        </form>
      

        {% if form.input_file.errors %}
        {% for error in form.input_file.errors %}
        <br><br>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <span>{{ error }}</span>
        </div>
        {% endfor %}
        {% endif %}

    </div>
</div>
</div>


{% endblock %}